%h1=@graph_title
#subdirectories
  %ul
    - @graph_directories.each do |directory|
      %li
        %a{ :href => directory }=directory[/\/comparisons\/\d*\/(.*)/,1].titleize.sub(/\//, ' - ')

#graphs
  - @graph_files.each do |graph|
    %div
      %h3=graph.titleize
      %embed{ :src => graph, :type => "image/svg+xml" }
