%h1 Msrun#index
%p Find me in app/views/msrun/index.html.erb
= #render :partial => 'filter'
%table.msrun
  - @msruns.each do |run|
    %tr
      %td Some checkbox
      %td=run.raw_id
      %td=run.group || "No Group"
      %td=run.user || "No User"
