%h1 Metric#show
%p Find me in app/views/metric/show.html.erb
%table.data_out
  %thead
    %td Attribute
    %td Value
  - @metric.attributes.each do |h,k|
    %tr
      %td
        = h.to_s.capitalize.split('_').join(' ')
        \:
      %td= k
