/*****************************************************************************************
 * Eric Meyer's Global CSS Reset
 * 
 * Including this because it's good to ensure
 * that browsers render the same things the same
 * way.
 ****************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************************************************
 * Main Styles
 ****************************************************************************************/
.container {
  padding-top: 5px;
  width: 710px;
}

body {
  background: #eaefea;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em; /* To improve legibility */
}

footer {
  padding-left: 5px;
  padding-right: 8px;
}

header {
  height: 60px;
  line-height: 30px;
}

header img {
  display: none;
  padding: 0.8em;
  background: #fff;
}

header>nav {
  background-color: #333;
  width: 100%;
}

#subheader {
  /* <Awesome gradient-style action> */
  background: #9f9f9f; /* Old browsers */
  background: -moz-linear-gradient(top,  #9f9f9f 0%, #c3c3c3 45%, #ccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f9f9f), color-stop(45%,#c3c3c3), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9f9f9f 0%,#c3c3c3 45%,#ccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9f9f9f 0%,#c3c3c3 45%,#ccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9f9f9f 0%,#c3c3c3 45%,#ccc 100%); /* IE10+ */
  background: linear-gradient(top,  #9f9f9f 0%,#c3c3c3 45%,#ccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
  /* </Awesome gradient-style action> */
  font-size: 0.8em;
}

/*****************************************************************************************
 * Header Levels 
 ****************************************************************************************/

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  padding: 1em 0 1em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

/*****************************************************************************************
 * Links 
 ****************************************************************************************/

a:link {
  color: #09c;
  text-decoration: none;
}

a:visited {
  color: #09c;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

/* Nav links */

nav ul li a:link {
  display: block;
  padding: 0 5px;
  color: #ccc;
}

nav li a:visited {
  color: #ccc;
}

nav li a:hover {
  color: #000;
  background-color: #999;
  text-decoration: none;
} 

nav ul#subheader a:link {
  color: #000;
} 

nav ul#subheader a:visited {
  color: #000;
}

/*****************************************************************************************
 * Navigation 
 ****************************************************************************************/
nav {
  position: fixed;
  white-space: nowrap;
}

nav ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

/*****************************************************************************************
 * Alerts
 ****************************************************************************************/

#alert_num {
  margin: 4px auto;
  line-height: 22px;
  font-weight: 700;
  min-width: 15px;
  text-align: center;
}

#alert_num.show {
  background-color: #fff;
}

#alerts {
  display: none; /* By default, hide the alerts. They'll be displayed through javascript. */
  position: fixed;
  right: 20px;
  top: 30px;
  background-color: #fff;
  z-index: 100;
  padding: 0.5em;
  /* Lovely box shadows! */
  -moz-box-shadow: 1px 3px 3px #ccc;
  -webkit-box-shadow: 1px 3px 3px #ccc;
  box-shadow: 1px 3px 3px #ccc;
}

#alerts.show {
  display: block;
}

.alert_bad {
  background-color: #900;
}

a#alert_num:link, a#alert_num:visited {
  color: #fff;
}

.alert_okay {
  color: #09c;
  background-color: #555;
  text-decoration: none;
}

#not-alerts { /* This allows us to hide the alerts menu when other parts of the page are clicked */
  background: transparent;
  display: none;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#not-alerts.show {
  display: block;
}

/*****************************************************************************************
 * Reusable Styles
 ****************************************************************************************/

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 { 
  font-size: 200%;
}

/* Round the corners on the boxes! */
.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.round-small {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}


/*****************************************************************************************
 * Metric/Msrun Data Tables 
 ****************************************************************************************/
table.data_out {
  border: 4px groove black;
}

td .sort {
  padding-right: 19px;
  background-repeat: no-repeat;
  background-position: right center;
}

td .asc {
  background-image: url(/images/down_arrow.png);
}

td .desc {
  background-image: url(/images/up_arrow.png);
}

table#msrunshow, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

div#messages span {
  color:blue;
  font-weight: bold;
}

#graphs>div.svg>embed {
  width: 540pt;
  height: 216pt;
}

#graphs>div.hplcgraph>embed {
  width: 720pt;
  height: 576pt;
}
#graphs>div.svg { 
}

td#lists {
  font-size: 10px;
}
