.container {
  padding-top: 5px;
  width: 710px;
}

body {
  background: #eaefea;
}

footer, header {
  padding-left: 5px;
  padding-right: 8px;
}

header {
  padding-top: 15px;
  padding-right: 30px; 
  padding-left: 20px;
}

header img {
  padding: 0.8em;
  background: #fff;
}
/* NAVIGATION */
nav {
  float: right;
}

nav { 
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 { 
  font-size: 200%;
}

/* Round the corners on the boxes! */
.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}


/* Metric/Msrun Data Tables */
table.data_out {
  border: 4px groove black;
}

