/* 
 * Eric Meyer's Global CSS Reset
 * 
 * Including this because it's good to ensure
 * that browsers render the same things the same
 * way.
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main Page Styles */
.container {
  padding-top: 5px;
  width: 710px;
}

body {
  background: #eaefea;
  line-height: 1.5em; /* To improve legibility */
}

footer, header {
  padding-left: 5px;
  padding-right: 8px;
}

header {
  height: 30px;
  line-height: 30px;
  background-color: #333;
}

header img {
  display: none;
  padding: 0.8em;
  background: #fff;
}

.subheader {
  
}

/* HEADER LEVELS */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 1em 0 1em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

/* NAVIGATION */
nav {
  float: right;
}

nav { 
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

nav ul li a:link {
  display: block;
  padding: 0 5px;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  color: #000;
  background-color: #999;
  text-decoration: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 { 
  font-size: 200%;
}

/* Round the corners on the boxes! */
.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* Links */

a:link {
  color: #09c;
  text-decoration: none;
}

a:visited {
  color: #09c;
}

a:hover {
  color: #069;
  text-decoration: underline;
}


/* Metric/Msrun Data Tables */
table.data_out {
  border: 4px groove black;
}

td .sort {
  padding-right: 19px;
  background-repeat: no-repeat;
  background-position: right center;
}

td .asc {
  background-image: url(/images/down_arrow.png);
}

td .desc {
  background-image: url(/images/up_arrow.png);
}

#alert_num {
  margin: 4px auto;
  line-height: 22px;
  min-width: 15px;
  text-align: center;
}

.alert_bad {
  background-color: red;
}

a#alert_num:link, a#alert_num:visited {
  color: #fff;
}

.alert_okay {
  color: #09c;
  background-color: #333;
  text-decoration: none;
}

table#msrunshow, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

div#messages span {
  color:blue;
  font-weight: bold;
}

#graphs>div.svg>embed {
  width: 540pt;
  height: 216pt;
}

#graphs>div.hplcgraph>embed {
  width: 720pt;
  height: 576pt;
}
#graphs>div.svg { 
}

td#lists {
  font-size: 10px;
}
