%h1 Contact the Developer
%p If at all possible, I'll be happy to assist you directly.  You can contact me as instructed in the paper.  However, you can also readily find help by posting an issue (bug report) at github.  
%a{ :href => "https://github.com/princelab/metriculator/issues" } Issue filing at GITHUB
