defaults: &defaults
  adapter: sqlite3
  username: root
  password:
  host: localhost


development:
  database: <% ChangeThisVariableBlock %>/metrics_site_development.db
  adapter: sqlite3
  pool: 5
  timeout: 5000

test:
  database: <% ChangeThisVariableBlock %>/metrics_site_test.db
  adapter: sqlite3
  pool: 5
  timeout: 5000


production:
  database: <% ChangeThisVariableBlock %>/metrics_site_production.db
  adapter: sqlite3
  pool: 5
  timeout: 5000

#development:
  #database: db/metrics_site_development.db
  #<<: *defaults

  ## Add more repositories
  ## repositories:
  ##   repo1:
  ##     adapter:  postgres
  ##     database: sample_development
  ##     username: the_user
  ##     password: secrets
  ##     host:     localhost
  ##   repo2:
  ##     ...

#test:
  #database: db/metrics_site_test.db
  #<<: *defaults
#production:
  #database: db/metrics_site_production.db
  #<<: *defaults
