#alerts
  - @alerts.each do |alert|
    %span
      %span{ :class => 'description' }=alert.description
      = link_to "Destroy", alert, :confirm => "Are you sure", :method => :delete, :remote => :true
    %br
