#alerts
  - @alerts.each do |alert|
    %div
      %span{ :class => 'description' }=alert.description
      = link_to "Destroy", alert, :confirm => "Are you sure?", :method => :delete, :remote => :true
