#alerts
  - @alerts.each do |alert|
    %div
      %span{ :class => 'description' }=alert.description
      = link_to "Destroy", alert, :method => :delete, :remote => :true
  - if @alerts.empty? 
    %div No alerts.
