<% categories = ["chromatography", "ms1", "dynamic_sampling", "ion_source", "ion_treatment", "peptide_ids", "ms2", "run_comparison"] %>
<header>
  <nav class="round">
    <ul class="header">
      <% categories.each do |cat| %>
        <li><%= link_to "#{cat.humanize}", 'msrun/index' %></li>
      <% end %>
    </ul>
  </nav>
  <%= link_to logo, root_path %>
</header>

