/[if lt IE 9]
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
= stylesheet_link_tag 'blueprint/screen', media: 'screen'
= stylesheet_link_tag 'blueprint/print', media: 'print'
/[if lt IE 8] <haml:loud> stylesheet_link_tag 'blueprint/ie', media: 'print' </haml:loud>
= stylesheet_link_tag 'custom', media: 'screen'
